/* 

    Template made by adyjul with bootstrap 

*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 14px;
  line-height: 25px;
  color: #2a2a2a;
}
/* .home {
  background: #eee;
  min-height: 100vh;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}   */

/* navbar */

.fixed-top {
  top: -40px;
  transform: translateY(40px);
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
  transition: transform 0.3s;
}

.navbar-toggler {
  margin-right: 20px;
}

.navbar {
  width: 100%;
  transition: 0.5s;
  z-index: 999;
}

.navbar .container img {
  transition: all 0.3s;
}

.nav-item {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 5px;
  transition: all 0.3s;
}

/* end navbar */

/* header */

#carousel .carousel-item.one {
  background-image: url(../images/slide-01.jpg);
}
#carousel .carousel-item.two {
  background-image: url(../images/slide-02.jpg);
}
#carousel .carousel-item.three {
  background-image: url(../images/slide-03.jpg);
}
#carousel .carousel-item {
  height: 100vh;
  width: 100%;
  min-height: 350px;
  background: no-repeat center center scroll;
  background-size: cover;
}
#carousel .carousel-inner .carousel-item {
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}
#carousel .carousel-item .caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  color: white;
  animation-duration: 1s;
  animation-delay: 2s;
}
#carousel .caption h2 {
  animation-duration: 1s;
  animation-delay: 2s;
}
#carousel .caption p {
  color: rgb(201, 201, 201);
  animation-duration: 1s;
  animation-delay: 2.2s;
}

#carousel .caption a {
  animation-duration: 1s;
  animation-delay: 2.4s;
}
#home .btn-custom {
  display: inline-block;
  min-width: 160px;
  height: 60px;
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 0 30px;
  font-size: 16px;
  line-height: 58px;
  font-weight: 600;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-transform: capitalize;
  background: #be9e21;
}
#home .custom-btn:hover,
#home .custom-btn:active,
#home .custom-btn:focus {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #5da2f1;
  border-color: #4489d9;
}
/* end header */

/* informasi */

#informasi {
  background-color: #fafafa;
}

#informasi .title {
  margin-bottom: 35px;
  display: grid;
  justify-content: center;
}

#informasi .title span {
  --color: #be9e21;
  --position: center bottom;
  --width: 50px;
  --height: 5px;
  background: linear-gradient(var(--color), var(--color)) var(--position) /
    var(--width) var(--height) no-repeat;
  padding-bottom: 10px;
  font: bold 30px sans-serif;
}

/* #informasi .media-heading-wrapper {
  padding-bottom: 32px;
}

#informasi .media-heading-wrapper h3 {
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 52px;
}

#informasi .content {
  margin-bottom: 30px;
} */

.row-space-1 > [class*="col-"] {
  padding-left: 1px;
  padding-right: 1px;
}

#informasi .margin-b-2 {
  margin-bottom: 2px !important;
}

#informasi .informasi .fa {
  /* border: 1px solid #999caa; */
  /* border-radius: 2px; */
  color: #999caa;
  font-size: 40px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
}

#informasi .informasi:hover .informasi-info p {
  cursor: pointer;
  transition: all;
  transform: translateX(200);
}

.btn-theme:hover,
.service .service-element,
.service .service-info,
.service:hover .service-element,
.service:hover .service-info {
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.service .service-element,
.service .service-info {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#informasi .informasi {
  background: #fff;
  padding: 50px;
}

#informasi .informasi-info h3 {
  font-weight: 600;
}

#informasi .informasi-info p {
  color: #515463;
}

#informasi .content-lg {
  padding-bottom: 50px;
  padding-top: 30px;
}

/* end informasi */

/* tentang */

#tentang .main-content {
  padding-top: 40px;
}

#tentang .main-content .content-right .content-inner h4 {
  font-weight: 700;
  padding-bottom: 10px;
  font-size: 2rem;
}

#tentang .text-center {
  padding-top: 40px;
}

#tentang .text-center h3 {
  padding-top: 2rem;
  color: rgb(129, 129, 129);
  font-style: italic;
}

#tentang span {
  --color: #be9e21;
  --position: center bottom;
  --width: 50px;
  --height: 5px;
  background: linear-gradient(var(--color), var(--color)) var(--position) /
    var(--width) var(--height) no-repeat;
  padding-bottom: 10px;
  font: bold 30px sans-serif;
}

#tentang .content-left .content-image img {
  width: 100%;
  height: auto;
}

#tentang .content-right .content-inner li {
  display: block;
  color: #444;
  padding: 5px 0;
}

#tentang .content-right .content-inner li i {
  color: #be9e21;
  padding-right: 10px;
  font-size: 12px;
}

/* #tentang .desc {
  margin-top: 30px;
  margin-bottom: 50px;
}

#tentang .btn-custom {
  display: inline-block;
  min-width: 160px;
  height: 60px;
  color: #fff;
  border: none;
  border-left: 3px solid #4489d9;
  border-radius: 0;
  padding: 0 30px;
  font-size: 16px;
  line-height: 58px;
  font-weight: 600;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-transform: capitalize;
  background: #4489d9;
}
#tentang .custom-btn:hover,
#tentang .custom-btn:active,
#tentang .custom-btn:focus {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #5da2f1;
  border-color: #4489d9;
} */

/* end tentang */

/* berita */

.berita-area {
  height: auto;
  width: 100%;
}

#berita .section-headline span {
  --color: #4489d9;
  --position: center bottom;
  --width: 50px;
  --height: 5px;
  background: linear-gradient(var(--color), var(--color)) var(--position) /
    var(--width) var(--height) no-repeat;
  padding-bottom: 10px;
  font: bold 30px sans-serif;
}

#berita .section-headline {
  margin-top: 70px;
  padding-bottom: 50px;
}

.beita-text h4 a {
  color: #444;
  text-decoration: none;
}

.berita-text h4 {
  color: #444;
  margin-bottom: 15px;
}

.berita-btn {
  border-bottom: 1px dotted #444;
  color: #444;
  text-decoration: none;
}

.berita-btn {
  border-bottom: 1px dotted #444;
  color: #444;
  display: inline-block;
  padding: 0 1px 5px 0;
  position: relative;
  text-decoration: none;
}

.berita-btn {
  position: relative;
}

.berita-btn::after {
  content: "\f178";
  font-family: fontawesome;
  position: absolute;
  right: -20px;
  top: 1px;
  transition: all 0.3s ease 0s;
}

.berita-btn:hover::after {
  right: -30px;
}

.berita-btn:hover {
  color: #333;
  text-decoration: none;
}

.berita_meta span.date_type i {
  margin-left: 5px;
}

.berita-meta span i {
  padding-right: 10px;
}

.berita-content .blog-meta {
  border-bottom: 1px dotted #333;
}

.berita-meta {
  border-bottom: 1px dotted #fff;
  padding: 10px 0;
}

.berita-content-right .comments-type > a,
.berita-content-right .date-type,
.berita-content-right .berita-meta span.comments-type,
.berita-content-right .berita-text p {
  color: #fff;
  letter-spacing: 1px;
}

.single-berita .ready-btn {
  border: 1px solid #444;
  border-radius: 30px;
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
}

.single-berita .ready-btn:hover {
  border: 1px solid black;
  color: black;
}

#berita .single-berita-img img {
  width: 40%;
}

/* end berita */

/* guru */

#guru .judul span {
  --color: #4489d9;
  --position: center bottom;
  --width: 50px;
  --height: 5px;
  background: linear-gradient(var(--color), var(--color)) var(--position) /
    var(--width) var(--height) no-repeat;
  padding-bottom: 10px;
  font: bold 30px sans-serif;
}

#guru .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 10px;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}

#guru {
  margin-top: 100px;
  background-color: #f6faff;
  padding-bottom: 100px;
}

#guru .judul {
  padding: 30px;
  padding-bottom: 30px;
}

#guru .images {
  width: 95%;
}

/* end guru */

/* hubungi */
#hubungi .judul span {
  --color: #4489d9;
  --position: center bottom;
  --width: 50px;
  --height: 5px;
  background: linear-gradient(var(--color), var(--color)) var(--position) /
    var(--width) var(--height) no-repeat;
  padding-bottom: 10px;
  font: bold 30px sans-serif;
}

#hubungi .judul {
  padding-bottom: 50px;
}

#hubungi {
  background-color: #303030;
  padding: 50px 50px 0 0;
  padding-bottom: 20px;
}

#hubungi .btn-custom {
  margin: 30px 0;
  background: transparent;
  border: 2px solid #fff;
  color: white;
}

#hubungi h2,
#hubungi label,
#hubungi p,
#hubungi span {
  color: white;
}

#hubungi address {
  border-bottom: 1px solid #505050;
  padding-top: 30px;
}

#hubungi address .address-title {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}

#hubungi address span {
  display: block;
  padding-bottom: 30px;
}

#hubungi address .fa {
  border: 1px solid #fff;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* end hubungi */

/* footer */

#footer {
  padding: 25px 0px;
  background-color: #4489d9;
}

#footer p {
  color: white;
  font-weight: 600;
}
/* end footer */

/* responsive */

@media (max-width: 767px) {
  .navbar img {
    width: 50px;
  }

  #informasi .title span {
    font-size: 20px;
  }
  #about .section-header span {
    font-size: 20px;
  }

  #berita .section-headline span {
    font-size: 20px;
  }

  .single-berita {
    padding: 30px;
  }
}

/* end responsive */
